/* General Styles */
body {
  font-family: 'Lora', serif;
  background-color: #f3f4f6;
  color: #333;
  padding: 20px;
  overflow-x: hidden;
  line-height: 1.6;
}

/* Meal Header */
.meal-title {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  color: #4a4a4a;
  text-align: left;
  margin-bottom: 1rem;
  position: relative;
  left: 15rem;
}

/* Meal Content */
.meal-container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.meal-image-wrapper {
  text-align: center;
  margin-bottom: 2rem;
}
.meal-video{
  height: 300px;
  width: 500px;
  position: relative;
  left: 10rem;
  margin-bottom: 10px;
}
.meal-image {
  width: 100%;
  height: auto;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

/* Meal Details */
.meal-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

/* Ingredients */
.meal-info {
  width: 45%;
}

.meal-info h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  color: #d4a373;
  margin-bottom: 1rem;
}

.meal-info ul {
  list-style-type: none;
  padding: 0;
}

.meal-info li {
  font-size: 1.1rem;
  background-color: #fafafa;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

.meal-info .meal-yield,
.meal-info .meal-prep-time,
.meal-info .meal-total-time {
  font-size: 1.1rem;
  color: #777;
}

/* Instructions */
.meal-instructions {
  width: 55%;
  position: relative;
  top: 5rem;
}

.meal-instructions h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  color: #d4a373;
  margin-bottom: 1rem;
}

.meal-instructions p {
  font-size: 1.1rem;
}

/* Special Info */
.meal-special-info {
  margin-top: 2rem;
}

.meal-special-info h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  color: #d4a373;
  margin-bottom: 1rem;
}

.meal-special-info p {
  font-size: 1.1rem;
  color: #555;
}

/* Wishlist Button */
.wishlist-button {
  text-align: center;
  margin-top: 2rem;
}

.wishlist-button button {
  background-color: #d4a373;
  color: #fff;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.wishlist-button button:hover {
  background-color: #b5835a;
  transform: translateY(-3px);
}

/* Back Button */
.back-button {
  font-size: 1rem;
  color: blue;
  background-color: #d4a373;
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  top: 1rem;
  left: 73rem;
  position: relative; /* Ensure it is positioned above other elements */
  z-index: 1000; /* High z-index to make it visible */
 
}

.back-button:hover {
  background-color: #b5835a;
}

/* Media Queries */
@media (max-width: 768px) {
  .meal-details {
    flex-direction: column;
  }

  .meal-info, .meal-instructions {
    width: 100%;
  }
}
